@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (max-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem; }

.header {
  width: 80%;
  margin: auto;
  height: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem; }
  .header__logo {
    width: 15rem; }
  .header__menu {
    font-size: 1.4rem;
    display: flex;
    align-items: center; }
    .header__menu__menu-item {
      list-style: none;
      text-transform: uppercase; }
      .header__menu__menu-item:not(:last-child) {
        margin-right: 4rem; }
      .header__menu__menu-item:last-child {
        background-color: #fa5757;
        padding: 1.4rem 2.8rem;
        border-radius: 5px;
        color: #fff; }
      @media (max-width: 900px) {
        .header__menu__menu-item {
          font-size: 1.9rem;
          display: none; }
          .header__menu__menu-item:not(:last-child) {
            margin-right: 6rem; } }

#nav-button {
  display: none; }
  @media (max-width: 600px) {
    #nav-button {
      display: block; } }

.hero {
  display: flex;
  width: 70%;
  margin: auto;
  margin-bottom: 12rem;
  position: relative; }
  @media (max-width: 600px) {
    .hero {
      display: block; } }

.blue-pattern {
  height: 30rem;
  width: 60%;
  background-color: #5368df;
  z-index: -1;
  right: -24rem;
  bottom: 0;
  position: absolute;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px; }

.hero-image {
  width: 133%; }

.headline {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  font-weight: 500; }

.headline-text {
  font-size: 2rem;
  margin-bottom: 4rem;
  color: #9194a1; }

.button {
  border: none;
  padding: 1.6rem 3rem;
  border-radius: 1rem;
  border: 1px solid transparent; }
  .button:not(:last-of-type) {
    margin-right: 2rem; }
  .button:hover {
    background-color: #fff;
    color: #9194a1;
    border: 1px solid #9194a1; }
  .button--blue {
    background-color: #5368df;
    color: #fff; }
    .button--blue:hover {
      background-color: #fff;
      color: #5368df;
      border: 1px solid #5368df; }
  .button--red {
    background-color: #fa5757;
    color: #fff; }
    .button--red:hover {
      background-color: #fff;
      color: #fa5757;
      border: 1px solid #fa5757; }

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; }

.left {
  flex: 1; }

.inter {
  width: 35%;
  margin: auto;
  margin-bottom: 7rem;
  text-align: center; }

.inter h2 {
  font-size: 3rem;
  margin-bottom: 2rem; }

.inter p {
  color: #9194a1;
  line-height: 1.6; }

/* Tabs */
.tabs {
  width: 60%;
  margin: auto;
  padding-top: 1rem;
  border-bottom: 1px solid #9194a1;
  border-right: none;
  margin-bottom: 3rem; }

.tab-content {
  margin-bottom: 22rem; }

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center; }
  @media (max-width: 600px) {
    .tabs .container {
      display: block; } }

.tab-item {
  padding: 2rem; }
  .tab-item:hover {
    color: #fa5757; }

.tab-border {
  border-bottom: #fa5757 3px solid; }

#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
  opacity: 0; }

.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in; }

.tab-content-inner {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 8rem; }
  @media (max-width: 600px) {
    .tab-content-inner {
      display: block; } }

.tab-left {
  flex: 1;
  padding-top: 4rem;
  position: relative; }

.tab-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5rem; }

.tab-right h2 {
  margin-bottom: 2rem; }

.tab-right p {
  color: #9194a1;
  margin-bottom: 2rem; }

.tab-image {
  width: 100%; }

.tab-image-small {
  width: 70%; }

.blue-pattern-tab {
  height: 30rem;
  width: 100%;
  background-color: #5368df;
  z-index: -1;
  left: -16rem;
  bottom: -66px;
  position: absolute;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px; }

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 19rem; }
  @media (max-width: 600px) {
    .row {
      display: block; } }

.box {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/images/bg-dots.svg) no-repeat 10% 66%; }
  .box:not(:last-of-type) {
    margin-right: 4rem; }
  .box:nth-child(2) {
    top: 2rem;
    position: relative; }
  .box:nth-child(3) {
    top: 4rem;
    position: relative; }
  @media (max-width: 600px) {
    .box {
      display: block; } }

.browser-logo {
  width: 9rem;
  margin-bottom: 2rem; }

.box h2 {
  margin-bottom: 1.5rem; }

.box p {
  color: #9194a1;
  margin-bottom: 7rem; }

.accordion-container {
  width: 50%;
  margin: auto;
  margin-bottom: 4rem; }

.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 24px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #9194a1;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between; }
  .accordion:first-child {
    border-top: 1px solid #9194a1; }

.more-info {
  margin-top: 8rem;
  text-align: center;
  margin-bottom: 14rem; }

.svg-icon {
  stroke: #5368df; }

.svg-icon1 {
  stroke: blue; }

.up {
  transform: rotate(180deg); }

.down {
  display: none; }

.active,
.accordion:hover {
  color: #fa5757; }

.accordian-active {
  transform: rotate(-180deg); }

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden; }

.action-container {
  background-color: #5368df;
  padding: 6rem 4rem;
  color: #fff;
  text-align: center; }

.action-container p {
  text-transform: uppercase;
  margin-bottom: 3rem;
  letter-spacing: 0.4rem;
  font-size: 1.4rem; }

.action-container h2 {
  font-size: 3.9rem;
  margin-bottom: 3rem; }

.action-box {
  width: 37%;
  margin: auto; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

#form {
  width: 100%;
  display: flex;
  padding-left: 20px;
  position: relative; }
  @media (max-width: 600px) {
    #form {
      width: 100%;
      height: 5rem;
      margin-bottom: 4rem; } }

#input {
  border: none;
  width: 100%;
  padding: 2rem;
  border-radius: 10px; }

#button-submit {
  flex: 1; }

.input-container {
  flex: 2;
  margin: auto;
  margin-right: 2rem; }

.error-circle {
  position: absolute;
  width: 3rem;
  top: 50%;
  transform: translateY(-50%);
  right: 11rem;
  display: none; }
  @media (max-width: 600px) {
    .error-circle {
      right: 7rem; } }

.arrow {
  width: 1.2rem; }

.error-message {
  color: white;
  font-weight: 400;
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  display: none; }
  @media (max-width: 600px) {
    .error-message {
      margin-top: -2rem; } }

.form-error {
  border: 2px solid red !important; }

.box-error {
  padding-bottom: 2rem;
  background-color: red; }

.footer-container {
  background-color: #252b46;
  padding: 3rem 0; }

.footer {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  width: 80%;
  margin: auto;
  align-items: center; }

.footer-logo {
  width: 20rem;
  margin-right: 3rem; }

.footer p:not(:last-child) {
  margin-right: 3rem; }

ion-icon {
  font-size: 25px;
  color: #fff;
  margin-left: 1.5rem; }
  ion-icon:not(:last-of-type) {
    margin-left: 1.5rem; }

.nav-container {
  color: #fff;
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 2.7rem 3rem 2.7rem 2rem;
  background-color: rgba(37, 43, 70, 0.9);
  opacity: 60%; }

.top-row-modal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.ham-item {
  text-transform: uppercase;
  margin-bottom: 3rem;
  list-style: none;
  border-bottom: 1px solid #9194a1; }
  .ham-item:first-child {
    border-top: 1px solid #9194a1; }
  .ham-item:last-child {
    border: 1px solid #fff;
    padding: 2rem; }
