@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

//reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

//color variables
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: hsl(229, 31%, 21%);
$white: #fff;

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
}

.header {
  width: 80%;
  margin: auto;
  height: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  @include respond(phonr) {
    width: 90%;
  }

  &__logo {
    width: 15rem;
  }

  &__menu {
    font-size: 1.4rem;
    display: flex;
    align-items: center;

    &__menu-item {
      list-style: none;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 4rem;
      }

      &:last-child {
        background-color: $softRed;
        padding: 1.4rem 2.8rem;
        border-radius: 5px;
        color: $white;
      }

      @include respond(phone) {
        font-size: 1.9rem;

        display: none;

        &:not(:last-child) {
          margin-right: 6rem;
        }
      }
    }
  }
}

#nav-button {
  display: none;
  @include respond(phone) {
    display: block;
  }
}

.hero {
  display: flex;
  width: 70%;
  margin: auto;
  margin-bottom: 12rem;
  position: relative;

  @include respond(phone) {
    flex-direction: column-reverse;
    width: 90%;
  }
}

.blue-pattern {
  height: 30rem;
  width: 60%;
  background-color: $softBlue;
  z-index: -1;
  right: -24rem;
  bottom: 0;
  position: absolute;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;

  @include respond(phone) {
    right: -2rem;
    top: 0;
  }
}

.hero-image {
  width: 133%;
  @include respond(phone) {
    width: 100%;
  }
}

.headline {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  font-weight: 500;

  @include respond(phone) {
    font-size: 3.5rem;
    text-align: center;
  }
}

.headline-text {
  font-size: 2rem;
  margin-bottom: 4rem;
  color: $grayishBlue;
}

.button {
  border: none;
  padding: 1.6rem 3rem;
  border-radius: 1rem;
  border: 1px solid transparent;

  &:not(:last-of-type) {
    margin-right: 2rem;
  }

  &:hover {
    background-color: $white;
    color: $grayishBlue;
    border: 1px solid $grayishBlue;
  }

  &--blue {
    background-color: $softBlue;
    color: $white;

    &:hover {
      background-color: $white;
      color: $softBlue;
      border: 1px solid $softBlue;
    }
  }

  &--red {
    background-color: $softRed;
    color: $white;

    &:hover {
      background-color: $white;
      color: $softRed;
      border: 1px solid $softRed;
    }
  }
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.left {
  flex: 1;
}

.inter {
  width: 35%;
  margin: auto;
  margin-bottom: 7rem;
  text-align: center;

  @include respond(phone) {
    width: 90%;
  }
}

.inter h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.inter p {
  color: $grayishBlue;
  line-height: 1.6;
}

/* Tabs */
.tabs {
  width: 60%;
  margin: auto;
  // background: var(--dark-color);
  padding-top: 1rem;
  border-bottom: 1px solid $grayishBlue;
  border-right: none;
  margin-bottom: 3rem;

  @include respond(phone) {
    border-bottom: none;
    width: 80%;
  }
}

.tab-content {
  margin-bottom: 22rem;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include respond(phone) {
    display: block;
  }
}

.tab-item {
  padding: 2rem;
  &:hover {
    color: $softRed;
  }

  @include respond(phone) {
    border-bottom: 1px solid $grayishBlue;
  }
}

.tab-border {
  border-bottom: $softRed 3px solid;
  position: relative;
  @include respond(phone) {
    width: 70%;
    margin: auto;
  }
}

.tab-border::before {
  width: 144%;
  content: ' ';
  position: absolute;
  z-index: -1;
  right: -49px;
  bottom: -4px;
  bottom: -4px;

  border-bottom: 1px solid $grayishBlue;
}

#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
  opacity: 0;
}

.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}

.tab-content-inner {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 8rem;

  @include respond(phone) {
    display: block;
  }
}

.tab-left {
  flex: 1;
  padding-top: 4rem;
  position: relative;
}

.tab-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5rem;
}

.tab-right h2 {
  margin-bottom: 2rem;
}

.tab-right p {
  color: $grayishBlue;
  margin-bottom: 2rem;
}

.tab-image {
  width: 100%;
}

.tab-image-small {
  width: 70%;
}

.blue-pattern-tab {
  height: 30rem;
  width: 100%;
  background-color: $softBlue;
  z-index: -1;
  left: -16rem;
  bottom: -66px;
  position: absolute;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;

  @include respond(phone) {
  }
}

////
.row {
  display: flex;
  justify-content: center;
  margin-bottom: 19rem;

  @include respond(phone) {
    display: block;
  }
}

.box {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/images/bg-dots.svg) no-repeat 10% 66%;
  // background-size: 5% 5%;

  &:not(:last-of-type) {
    margin-right: 4rem;
  }

  &:nth-child(2) {
    top: 2rem;
    position: relative;
  }

  &:nth-child(3) {
    top: 4rem;
    position: relative;
  }

  @include respond(phone) {
    display: block;
    width: 80%;
    margin: auto;
  }
}

.browser-logo {
  width: 9rem;
  margin-bottom: 2rem;
}

.box h2 {
  margin-bottom: 1.5rem;
}

.box p {
  color: $grayishBlue;
  margin-bottom: 7rem;
}
////
.accordion-container {
  width: 50%;
  margin: auto;
  margin-bottom: 4rem;

  @include respond(phone) {
    width: 80%;
  }
}
.accordion {
  background-color: #fff;

  color: #444;
  cursor: pointer;
  padding: 24px;
  width: 100%;
  border: none;
  border-bottom: 1px solid $grayishBlue;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;

  &:first-child {
    border-top: 1px solid $grayishBlue;
  }
}

.more-info {
  margin-top: 8rem;
  text-align: center;
  margin-bottom: 14rem;
}

.svg-icon {
  // width: 2rem;
  stroke: $softBlue;
}

.svg-icon1 {
  // width: 2rem;
  stroke: blue;
}

.up {
  transform: rotate(180deg);
}

.down {
  display: none;
}

.active,
.accordion:hover {
  color: $softRed;
}

.accordian-active {
  transform: rotate(-180deg);
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.mobile-hide {
  display: none;
}

.action-container {
  background-color: $softBlue;
  padding: 6rem 4rem;
  color: $white;
  text-align: center;

  @include respond(phone) {
    padding: 6rem 0;
  }
}

.action-container p {
  text-transform: uppercase;
  margin-bottom: 3rem;
  letter-spacing: 0.4rem;
  font-size: 1.4rem;
}

.action-container h2 {
  font-size: 3.9rem;
  margin-bottom: 3rem;
}

.action-box {
  width: 37%;
  margin: auto;

  @include respond(phone) {
    width: 80%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

///@at-root

#form {
  width: 100%;
  display: flex;
  // justify-content: center;
  // flex-direction: row;
  // border: 1px solid $grayishBlue;
  // height: 6rem;
  padding-left: 20px;
  position: relative;
  // border-radius: 50px;

  @include respond(phone) {
    width: 100%;
    height: 5rem;
    margin-bottom: 4rem;
    display: block;
  }
}

#input {
  // flex-grow: 3;
  border: none;
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  // background-color: transparent;
  // margin-left: 2rem;

  @include respond(phone) {
    margin-bottom: 2rem;
  }
}

#button-submit {
  flex: 1;

  @include respond(phone) {
    width: 100%;
  }
}

.input-container {
  flex: 2;
  margin: auto;
  margin-right: 2rem;
}

.error-circle {
  position: absolute;
  width: 3rem;
  top: 50%;
  transform: translateY(-50%);
  right: 11rem;
  display: none;

  @include respond(phone) {
    right: 7rem;
  }
}

.arrow {
  width: 1.2rem;
}

.error-message {
  color: white;
  font-weight: 400;
  margin-left: 3rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  display: none;

  @include respond(phone) {
    margin-top: -2rem;
  }
}

.form-error {
  border: 2px solid red !important;
}

.box-error {
  padding-bottom: 2rem;
  background-color: red;
}

//
.footer-container {
  background-color: $veryDarkBlue;
  padding: 3rem 0;
}
.footer {
  display: flex;
  justify-content: flex-start;
  color: $white;
  width: 80%;
  margin: auto;
  align-items: center;

  @include respond(phone) {
    flex-direction: column;
  }
}

.footer-logo {
  width: 20rem;
  margin-right: 3rem;

  @include respond(phone) {
    margin-bottom: 3rem;
  }
}

.footer p {
  &:not(:last-child) {
    margin-right: 3rem;

    @include respond(phone) {
      margin-bottom: 3rem;
    }
  }
}

ion-icon {
  font-size: 25px;
  color: #fff;
  margin-left: 1.5rem;

  &:not(:last-of-type) {
    margin-left: 1.5rem;
  }
}

.nav-container {
  color: $white;
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 2.7rem 3rem 2.7rem 2rem;
  // background: url(/images/bg-pattern-mobile-nav.svg) no-repeat bottom right;
  // background-size: contain;
  background-color: hsla(229, 31%, 21%, 0.9);
  opacity: 60%;
}
.top-row-modal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
// .close {
//   display: none;
// }

.ham-item {
  text-transform: uppercase;
  margin-bottom: 3rem;
  list-style: none;
  border-bottom: 1px solid $grayishBlue;
  &:first-child {
    border-top: 1px solid $grayishBlue;
  }

  &:last-child {
    border: 1px solid $white;
    padding: 2rem;
  }
}
